@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aura-primary: 50 50 50; /* stub CSS variables for future theming */
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
